<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Trivial Expense </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="../public/css/style.css">
        <link rel="stylesheet" href="../public/css/loginpage.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <title>Forgot Password</title>
    </head>
<body>

    <div style="margin-top: 0;">
        <img src="../public/images/logo.png" alt="Logo Here" style="width: 10rem; height: 10rem; border-radius: 10px;">
     </div>
     <div class="wrapper">
        <div class="title-text">
            <div class="title login">Reset Password</div>
          </div><br>
        <div class="form-container">
          <div class="form-inner">
            <form class="login details" id="login-details">
              <label for="" style="text-align: center;">Enter Your Registered E-Mail Address</label>
              <div class="field">
                <input type="text" placeholder="Email Address"  id="email" required>
              </div>
              <div id="forgot-msg">

              </div>
              <div class="field btn">
                <div class="btn-layer"></div>
                <input type="submit" value="Submit" onclick="forgotPassword(event)">
              </div>
            </form>
          </div>
        </div>
      </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.0/axios.min.js"></script>
<script src="../public/js/loginpage.js"></script>
</html>