
h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
  }
  table{
    width:100%;
    table-layout: fixed;
  }
  .tbl-header{
    background-color: rgba(255,255,255,0.3);
   }
  .tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
  }
  th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
  }
  td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
  }
  
  /* demo styles */
  
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
  body{
    background: -webkit-linear-gradient(left, #003366,#004080,#0059b3 , #0073e6);
    background: -webkit-linear-gradient(left, #003366,#004080,#0059b3 , #0073e6);
    font-family: 'Roboto', sans-serif;
  }
  section{
    margin: 50px;
  }
  
  /* for custom scrollbar for webkit browser*/
  
  ::-webkit-scrollbar {
      width: 6px;
  } 
  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  } 
  ::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  }
  
  .card{
    margin-top: 15%;
    margin-inline: auto;
    height: 45%;
    width: 70%;
  }
  .card:hover{
    border-radius: 10px;
    border-color:#25b7c4;
    border-style: groove;
    box-shadow: 0 8px 16px 0 #0073e6, 0 16px 30px 0 #25b7c4;
  }
  label{
    font-size: 20px;
  }
  
  #AddBtn,#UpdateBtn{
    background: -webkit-linear-gradient(left, #003366,#004080,#0059b3 , #0073e6);
    color: white;
  }
  
  #card-heading{
    background: -webkit-linear-gradient(left, #003366,#004080,#0059b3 , #0073e6);
    color:white;
    text-align: center;
  }
  #RowsLimit{
    background: -webkit-linear-gradient(left, #003366,#004080,#0059b3 , #0073e6);
    color:white;

  }
  #pagination{
       text-align: center;
    background: -webkit-linear-gradient(left, #003366,#004080,#0059b3 , #0073e6);
    color:white;
  }
  #pagination button{
    margin:5px;
    width: 25px;
    background: -webkit-linear-gradient(left, #003366,#004080,#0059b3 , #0073e6);
    color:white;
  }
  #RowsLimit option{
    color:white;
    background:#003366;
  }
  #historyTable a{
    color: white;
  }
  #rzp-button1:hover{
    cursor: pointer;
  }
  option{
    background:#0059b3 ;
    color:white;
  }

  @media screen and (max-width: 680px) {
    .card-body{
      height: 55%;
      width: 90%;
    }
    section{
      width: 90%;
      margin-left: 4%;
    }
}